{% load static %}
{% include 'navbar.html' %}

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg1"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>150</h3>
                <span class="widget-title1">Total Products <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg2"><i class="fa fa-money"></i></span>
            <div class="dash-widget-info text-right">
                <h3>₹12,750</h3>
                <span class="widget-title2">Today’s Sales <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg3"><i class="fa fa-scissors" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>8</h3>
                <span class="widget-title3">Pending Tailoring Orders <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg4"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>5</h3>
                <span class="widget-title4">Low Stock Alerts <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>
