<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
  <title>Shapes</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="top_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="float-left">
              <p>Phone: +01 256 25 235</p>
              <p>email: info@eiser.com</p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="float-right">
              <ul class="right_side">

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu" style="background-color:#ffff00;">
      <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-light w-100" >
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="">
            <img src="{% static 'img/Shapes enhanced.png' %}"  height="70" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                     <li class="nav-item active">
                    <a class="nav-link" href="/">About</a>
                  </li>

                   <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">by Category</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="/shop_by_category/">Churidhar</a>
                      </li>
                    </ul>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="/products/">Products</a>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <li class="nav-item">
                    <a href="/cart/" class="icons">
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </li>

                  <li class="nav-item submenu dropdown">
                    <a href="#" class="icons" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false"><i class="ti-user" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="/signin/">SignIn</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/signup/">SignUp</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="/wishlist/" class="icons">
                      <i class="ti-heart" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/stellar.js' %}"></script>
  <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendors/counter-up/jquery.counterup.js' %}"></script>
  <script src="{% static 'js/mail-script.js' %}"></script>
  <script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

</body>

</html>